name: Caching Valgrind

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Download Valgrind
      run: |
        sudo apt-get install --dry-run valgrind
        ls -lR


